$background: #f1f1f0;
$text: #af9a85;
$header: #d2b8a9;
$highlight: #f7f0ea;
$highlight2: #e3d5ca;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: calc(1rem + 0.5vw);
    background-color: $background;
    color: $text;
}

body {
    font-family: 'Rajdhani', sans-serif;
        width: min(60ch, 100% - 2rem);
    margin-inline: auto;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

input,
button,
textarea {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    margin-bottom: 0.4rem;
}

h1,
h2 {
    text-align: center;
    color: $header;
}

h2 {
    font-weight: normal;
    font-size: calc(1rem + 0.5vw);
}

.mindChapters-design {
    font-family: 'Dancing Script', cursive;
}

.flow {
    margin-block-start: 1.2em;
}

.buttons {
    color: $header;
    text-decoration: none;
    border: dotted 1px $highlight2;
    border-radius: 10px;
    padding: 0 0.3rem;
    background-color: $highlight;
    cursor: pointer;

    &.liked {
        background-color: rgb(224, 245, 235);
        content: 'Liked';
    }
}

.top-items {
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}